@font-face {
    font-family: Urban jungle;
    src: url('/fonts/Urbanjungle.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/images/background.webp');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    box-sizing: content-box;
    background-color: #4e5f3cef;
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    grid-template-rows: repeat(auto-fill, 40px);
    gap: 0px;
    border: 10px solid #63371d;
    box-shadow: 0 0 14px 0px #000 inset;
}

.board .snake {
    border-radius: 15px;
    border: 2px solid #00000099;
}

.board .snake.head { background-color: #5E8A32; }
.board .snake.body { background-color: #5D986B; scale: 0.9; }

.board .food {
    background-color: red;
    border-radius: 99px;
    border: 2px solid #00000099;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #00000088;
}

.overlay h1 {
    font-family: Urban jungle;
    color: white;
    font-size: 48px;
    letter-spacing: 4px;
    line-height: 1.33;
    width: 300px;
    text-align: center;
    animation: strobe-animation 1s linear alternate infinite;
}

@keyframes strobe-animation {
    0% {
        font-size: 30px;
        width: 210px;
    }
    100% {
        font-weight: 48px;
        width: 300px;
    }
}